<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
<div class="container">
<a href="#" class="navbar-brand">Charef Mohamed Ali</a>
<button class="navbar-toggler" type="button" data-
toggle="collapse" data-target="#mobile-nav">
<span class="navbar-toggle-icon"></span>
</button>
<div class="collapse navbar-collapse" id="mobile-nav">
<ul class="navbar-nav ml-auto">
<li class="nav-item">
 <a href="{{ path('apprenant_list')}}" class="nav-link">Home</a>
</li>
<li class="nav-item">
 <a href="{{ path('apprenant_list')}}" class="nav-link">Apprenant</a>
</li>
 <li class="nav-item">
  <a href="{{ path('groupe_list')}}" class="nav-link">Groupe</a>
 </li>
 <li class="nav-item">
  <a href="{{ path('article_par_cat')}}" class="nav-link">
   Recherche par catégorie</a>
 </li>
 <li class="nav-item">
  <a href="{{ path('article_par_prix')}}" class="nav-link">
   Recherche par Prix</a>
 </li>
 {% if not app.user %}
 <li class="nav-item">
  <a href="{{ path('security_login')}}" class="nav-link">Connexion</a>
 </li>
 {% else %}
 <li class="nav-item">
  <a href="{{ path('security_logout')}}" class="nav-link"> Déconnexion</a>
 </li>
  {% if is_granted('ROLE_ADMIN') %}
   <li class="nav-item">
    <a href="{{ path('admin_utilisateurs')}}" class="nav-link">Administration</a>
   </li>
  {% endif %}
 {%  endif %}
</ul>
</div>
</div>
</nav>